body{
          background-image: url("nic.gif");
          background-attachment: fixed;
          background-color: black;
          font-family: Arial, Helvetica, sans-serif;
          background-repeat: no-repeat;
          background-size: cover;
          font-family: Futura, Trebuchet MS, Arial, sans-serif;
          
          background-width: 100%;
           
}
      
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
}

li {
        float: left;
}

li a {
        display: block;
        color: white;
        font-weight: bold;
        text-align: center;
        padding: 28px 28px;
        text-decoration: none;
}

li a:hover {
        color: black;
        background-color: #00ffaa;
        
}

h1{
        
}


.sul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 5%;
  background-color: black;
}

.slia {
  display: block;
  color: white;
  padding: 28px 28px;
  text-decoration: none;
}

.footer{
        background-color: black;
        color: white;
        width: 100%;
        position: static;
        left: 0;
        bottom: 0;
        overflow: hidden;
        margin: 0;
        background-size: cover;
}   

.btn-group button {
        background-color: black; /* Green background */
        border: 0px solid green; /* Green border */
        color: white; /* White text */
        padding: 30px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        width: 80%; /* Set a width if needed */
        display: block; /* Make the buttons appear below each other */
        margin-right: 10%; 
        margin-left: 10%;
        font-weight: bold;
        font-size: 50px;
        font-family: Brush Script MT, cursive;
      }
      
.btn-group button:not(:last-child) {
        border-bottom: none; /* Prevent double borders */
}
      
      /* Add a background color on hover */
.btn-group button:hover {
        background-color: #3e8e41;

}


