body{
          background-image: url("nic.gif");
          background-attachment: fixed;
          background-color: black;
          font-family: Arial, Helvetica, sans-serif;
          background-repeat: no-repeat;
          background-size: cover;
          font-family: Futura, Trebuchet MS, Arial, sans-serif;
          
          background-width: 100%;
           
}
      
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
}

li {
        float: left;
}

li a {
        display: block;
        color: white;
        font-weight: bold;
        text-align: center;
        padding: 28px 28px;
        text-decoration: none;
}

li a:hover {
        color: black;
}

h1{
        
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: 00FF8F;
}
a:hover, .dropdown:hover .dropbtn {
  background-color: 00FF8F;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn { 
  border: none;
  outline: none;
  color: white;
  padding: 28px 28px;
  font-weight: bold;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: 00FF8F;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: ;
}

.dropdown-content a {
  color: black;
  padding: 28px 28px;
  text-decoration: none;
  display: block;
  text-align: left;
}



.dropdown:hover .dropdown-content:hover {
  display: block;
  background-color: 00FF8F;
}

