/*Style sheet for the Nicholas Cage Society website Matthew Hutcheson 1812425*/

/*Sets the background of the body as a gif of nicholas cage and sets the font for all pages*/
body{
          background-image: url("nic.gif");
          background-attachment: fixed;
          background-color: black;
          font-family: Arial, Helvetica, sans-serif;
          background-repeat: no-repeat;
          background-size: cover;
          font-family: Futura, Trebuchet MS, Arial, sans-serif;
           
}
/*Sets the style for the nav bar, makes it cover the full width and sets padding for the induvidual items on the bar*/      
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
}

li {
        float: left;
}

li a {
        display: block;
        color: white;
        font-weight: bold;
        text-align: center;
        padding: 28px 28px;
        text-decoration: none;
}

li a:hover {
        color: black;
        background-color: #00ffaa;
        
}

/*Sets the style for the secondary navigation bars positions them at the left hand side of the screen near the top and uses similar theme to the primary navigation*/
.sul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: black;
  margin-top: 75px;
}

.slia {
  display: block;
  color: white;
  padding: 28px 28px;
  text-decoration: none;
}

/*Sets the style for the footer puts it at the bottom of the page and sets the colours for the background and text*/
.footer{
        background-color: black;
        color: white;
        width: 100%;
        position: static;
        left: 0;
        bottom: 0;
        overflow: hidden;
        margin: 0;
        background-size: cover;
}   

/*Sets the style for the tier buttons on the membership area page*/
.btn-group button {
        background-color: black; 
        color: white;
        padding: 30px 24px;
        cursor: pointer; 
        width: 80%;
        display: block; 
        margin-right: 10%; 
        margin-left: 10%;
        font-weight: bold;
        font-size: 50px;
        font-family: Brush Script MT, cursive;
      }
      */
.btn-group button:not(:last-child) {
        border-bottom: none;
}

/*Sets the style for the social media buttons on the footer*/
.fa {
        padding: 20px;
        font-size: 50px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        color: white;
      }


